html{font-size: 16px;
width: 100%;}

body{ /*pai elementos*/
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #EEEEEE;
    
}
h1{position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 3rem;
}

.info{margin:0;
    border-bottom: .1rem solid black ;}

footer{ position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.btn-group >button {
    background-color: #1565c0; 
    border: 1px solid #0088d1; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    width:33.333%;
    }


.botoes_meio >button{
    background-color: #ffffff; 
    border: 1px solid black; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%
}

header { /*yourhealth- titulo*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;
    background-color: #1565c0;}
    
.buscar{
    justify-content: right;
    flex-direction: column;
    }
.icones{padding-right: 0;
    padding-left: 0;
    float: right;}

input{padding-right: 0;
    padding-left: 0;
    float: right;
}

.search-container {
    display:flex;
    justify-content: right;
    flex-direction: column;
    font-size: 17px;
      }
ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}
li{display: flex;
    justify-content: center;
    margin: 0.01rem;
    width: 100%;
}
form{width: 100%;}

.botoes_meio_jogo >button{
    background-color: gray; 
    border: 1px solid black; 
    color: rgb(70, 70, 70); 
    padding: 10px 24px; 
    width: 100%;
    }

.botoes_meio_jogo2 >button{
    background-color: #1565c0; 
    border: 1px solid #0088d1;  
    color: black; ; 
    padding: 10px 24px; 
    margin-bottom: 2rem;
    width: 33%;
    }
h2{font-size: 18px;
margin-left:1rem ;
margin-right: 30%;
margin-top:2rem;
border-bottom: .1rem solid black ;
border-width:10%;}


.participantes > li{display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 3rem;
    width: 100%;
    font-size: 25px
}
.participantes2{display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.participantes2 > li{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem; 
   width: 30%;
    font-size: 18px
}

.conv{display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;}

.conversas{display: flex;
    align-items: flex-start;
    justify-content: flex-start;}

.conversas > li{display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem; 
   width: 50%;
    font-size: 18px}
.diminuir{height: 50px;}



footer > .linhas{ display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.centro{display: flex;
margin-bottom:2rem ;
    justify-content: center;}

.centro > input{display: flex;

    justify-content: center;
    width: 40%;}

.agenda{display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
    
}

.lines{display: flex;
    flex-direction: column;
    margin-top:0;
    }
.lines>li{display: flex;
    margin-left: 5rem;
    justify-content: flex-start;
    margin-bottom:.3rem ;}

.lines ::before {content: "•";
    font-size: 150%;
    line-height: 0;
    margin: 0 0.3rem 0 -0.25rem;
    position: relative;
    top: .5rem;
    color: black;}

.col{display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-bottom: .1rem solid black ;}

.liness{display: flex;
    flex-direction: column;
    margin-top:0;
    }
.liness>li{display: flex;
    justify-content: start;
    margin-left: 2rem;
    margin-bottom:.3rem ;}

.menu{display: flex;
margin-right: 95%;
}
.canto{display: flex;
    flex-direction: row-reverse;
    margin-left: 95%;}

.ag{display: flex;
    flex-direction: column;
}

.ag>li{margin-bottom:1rem;
    
}
.ag>li>button{padding: .5rem;
margin:1rem;}
.calendario{display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    }
.ui-datepicker {
background: #5e92f3;
color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    
    /* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color:#5db8ff;
}

input:focus + .slider {
box-shadow: 0 0 1px#5db8ff;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
p{margin: .5rem;}

.ativado{background-color: #003c8f;
    color: rgb(255, 255, 255);}

.ui-timepicker {
    background:#5e92f3;
    color: #FFFFFF;
    }

.tamanho{width: 50px;}
.aumentar{width:50%;}

h3{font-size: 1.5rem;}
b{font-weight:bold;
}
.formatg {
    background-color:rgb(0, 180, 54);
   }
.formatr{background-color:rgba(214, 4, 4, 0.808)}

.aumentar2{width:10rem;}

.fo{margin-bottom: 3rem;}