html{font-size: 16px;
width: 100%;}

body{ /*pai elementos*/
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #EEEEEE;
    
}
h1{position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 3rem;
}

footer{ position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.btn-group >button {
    background-color: green; 
    border: 1px solid rgba(41, 102, 0, 0.986); 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    width:33.333%;
    }


.botoes_meio >button{
    background-color: white; 
    border: 1px solid black; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    width: 100%
}

header { /*yourhealth- titulo*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;}
    


}
.buscar{
    
}
.icones{padding-right: 0;
    padding-left: 0;
    float: right;}

input{padding-right: 0;
    padding-left: 0;
    float: right;
}

.search-container {
    display:flex;
    justify-content: right;
    flex-direction: column;
    font-size: 17px;
      }
ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
li{display: flex;
    justify-content: center;
    margin: 0.01rem;
    width: 100%;
}
form{width: 100%;}

.botoes_meio_jogo >button{
    background-color: gray; 
    border: 1px solid black; 
    color: rgb(70, 70, 70); 
    padding: 10px 24px; 
    width: 100%;
    }

.botoes_meio_jogo2 >button{
    background-color: gray; 
    border: 1px solid black; 
    color: rgb(70, 70, 70); 
    padding: 10px 24px; 
    margin-bottom: 2rem;
    width: 33%;
    }
h2{font-size: 18px;
margin-left:1rem ;
margin-right: 30%;
margin-top:2rem;
border-bottom: .1rem solid black ;
border-width:10%;}


.participantes > li{display: flex;
    justify-content: flex-start;
    margin: 1rem;
    margin-left: 3rem;
    width: 100%;
    font-size: 25px
}